body {
    display: flex;
    justify-content: center;
}

div {
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.circle {
    border-radius: 50%;
}

.rounded {
    border-radius: 25%;
}

.square {
    border-radius: 0%;
}

#circle {
    background-color: red;
}

#rounded {
    background-color: green;
}

#square {
    background-color: purple;
}